@charset="utf-8";

*{ margin:0; padding:0; list-style:none; }


body{ background:url(../images/pattern.png) #999; background-size:100px; }

/* 공통 - bookcover, bookdot, page */
.bookcover, .bookdot, .page{ border-radius:10px; }

.bookcover{ width:990px; height:650px; margin:50px auto; background:#e4aff8; position:relative; }
.bookdot{ width:960px; height:630px; border:2px dotted #fff; border-collapse:collapse; position:absolute; margin:10px 15px; }
.page{ width:950px; height:620px; background:#f6f5ee; position:absolute; margin:5px; display:flex; }


/* 공통 - container, box1, box2, box3, box4 */
.container1, .container2, container3{ display:flex; flex-direction:column; }
.box1, .box3{ padding:5px; }
.box2, .box4{ border:1px solid #888; border-radius:15px; margin-bottom:10px; background:#fff; }


/* container1 */
.container1{ flex:0.5; margin-left:15px; }
.box1{ flex:0.01; text-align:center; }
.box2{ flex:1; }

.box1 span:nth-child(1){ color:red; font-weight:bold; }
.box1 span:nth-child(2){ color:#68b4dc; font-weight:bold; }
.box2 h1{ display:none; }


/* container2 */
.container2{ flex:1; margin-left:20px; }
.box3{ flex:0.01; }
.box4{ flex:1; }

.box3 p{ float:left; }
.box3 p:nth-child(2){ margin-left:60px; }

.box4 h2{ width:560px; font-size:20px; color:deepskyblue; border-bottom:2px solid cadetblue; padding:0 0 5px 10px; margin:10px 0 0 10px; }


/* container3 */
.container3{ flex:0.2; margin:10px 10px 10px 0; }
.menu{ margin-top:70px; }
.menu button{ width:80px; height:40px; margin-bottom:15px; background:#3b87ab; border:none; border-radius:0 10px 10px 0; }
.menu button a{ text-decoration:none; text-align:center; color:#fff; font-size:15px; display:block; padding:10px 0; }
.menu button:hover{ background:#fff; cursor:pointer; }
.menu button a:hover{ color:#000; }